extends layout
block page
  - var menu = 'approve'
block content
  h2 Authorise/Approve users to participate in experiments
  div.err= err
  if (!users || users.length < 1)
    p There are no users awaiting authorisation
  else
    table.table.table-stripped
      thead
        tr
          th Id
          th Course:
          th Award:
          th Level:
          th Gender:
          th Age:
          th Disability: 
          th Groups
      tbody
      each user in users
        tr
          td= user._id
          td= user.course
          td= user.award
          td= user.level
          td= user.gender
          td= user.age
          td= user.disability
          td
            form(action="/api/updateuser/#{user._id}", method="POST", role="form")
              input#title.form-control(name="groups", type="text", placeholder="a,g")
              button.btn.btn-default(type="submit") Update
