extends layout
block page
  - var menu = 'task'
block content
  if(!task)
    div= err
  else
    div.row
      p.col-md-7 Task: #{task.num}
        img(src="#{task.img}")
      form.col-sm-4(action="/quiz/edit/task/#{task.num}", method="POST", role="form")
        div.form-group
          label(for="text") Text
          input#text.form-control(name="text", type="text", value="#{task.text}")
        each response, index in task.responses
          div.form-group
            input.form-control(name="#{index}", type="text", value="#{response}")
        div.form-group
          label(for="solution") Right Answer
          input#text.form-control(name="solution", type="text", value="#{task.solution}")
        p
          button.btn.btn-primary(type="submit") Next
